p{
   color: silver;
   border: 2px solid orange dashed;
   padding: 20px;
   background-color: palevioletred;
   border-radius: 50%;
   
}
div{
   display: block;
   background-color: blue;
   text-decoration: double;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   border-radius: 0px 20px 0px 0px;
}